
img {
  border-radius: 50%;
}
body{
  background-color: #e3fdfd;
}
hr {
  width: 15%;
  border-style:none;
  border-top-style: dotted;
  border-color:gray;
  border-width:8px
}

#grad{
  background-image:linear-gradient(white,#6685B0 )
}
h1{
  color: #204060;
}
h3{
    color: #204060;
}
